{% load staticfiles %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Viettel Shake {% endblock %}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">

  {% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css">
    <link rel="stylesheet" href="{% static 'css/shake.css' %}">
  {% endblock %}
  {% block extra_css %} {% endblock %}
</head>
<body>

{% block content %}
  <div class="mx-5 mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card p-5">
          <img style="position: absolute; top: 0; right: 0; border: 0;"
               src="{% static 'images/shake/forkme_right_green_007200.png' %}" alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">
              Viettel Shake
            </h1>
            <p class="card-text mb-3">
              <b>
                <a href="https://github.com/adv27/viettel-shake" title="GitHub repository">Viettel Shake</a>
                helps you automatically shake.
              </b>
            </p>
            <div class="border-top my-3"></div>
            <form id="form" class="form-inline py-5" role="form">
              <div class="row" style="width: 100%;">
                <div class="col-lg-8 offset-lg-2 col-md-12">
                  <div class="form-group">
                    <label class="sr-only" for="phone">Phone</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text">Phone</div>
                      </div>
                      <input type="text" class="form-control-lg" id="phone" placeholder="0123456789">
                    </div>
                  </div>
                </div>
                <div class="col-lg-8 offset-lg-2 col-md-12">
                  <div class="form-group  d-none">
                    <label class="sr-only" for="otp">OTP</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text">OTP</div>
                      </div>
                      <input type="text" class="form-control-lg" id="otp" placeholder="1234"
                             autocomplete="one-time-code">
                    </div>
                  </div>
                </div>
                <div class="col-lg-8 offset-lg-2 col-md-12">
                  <div class="">
                    <button id="post" type="submit" class="btn btn-success btn-lg mb-2 ">Submit</button>
                  </div>
                </div>
              </div>
            </form>
            <div class="border-top my-3"></div>
            <div class="container">
              <p class="card-text mb-3"><b>Gifts statistic</b></p>
              <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for g in gifts_counter %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ g.0 }}</td>
                      <td>{{ g.1 }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="border-top my-3"></div>
            <div class="container">
              <p class="card-text mb-3"><b>Recently gifts</b></p>
              <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table">
                  <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Time</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for gift in gifts %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ gift.data.data.name }}</td>
                      <td>{{ gift.created_at|naturaltime }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="card-footer mt-3">
              <a href="https://github.com/adv27/viettel-shake" title="Github repository">Viettel Shake</a>
              by
              <a href="https://github.com/adv27" title="Github profile of Dinh Anh Vu">Dinh Anh Vu</a>
              .
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var DEBUG = {{ settings.DEBUG|yesno:"true,false" }};
    if (!DEBUG) {
      if (!window.console) window.console = {};
      var methods = ["log", "debug", "warn", "info"];
      for (var i = 0; i < methods.length; i++) {
        console[methods[i]] = function () {
        };
      }
    }
  </script>
{% endblock %}

{% block extra_js %}
  <script>
    var requestLoginPath = '{% url 'viettel:shake-request-login' %}';
    var loginPath = '{% url 'viettel:shake-login' %}';
  </script>
  <script src="{% static 'js/shake.js' %}"></script>
{% endblock %}
</body>
