{% extends 'shake/index.html' %}

{% load staticfiles %}

{% block title %}
  {{ viettel_user.phone }}
{% endblock %}

{% block extra_css %}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
{% endblock %}

{% block content %}
  <div class="row mt-5">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <div class="card p-4">
        <div class="d-flex justify-content-between">
          <h1>SĐT: {{ viettel_user.phone }}</h1>

          <button id="refresh" class="btn btn-sm btn-info">Refresh</button>
        </div>
      </div>

      <div class="card p-4 mt-3"  style="overflow: auto">
        <table id="table-history" data-height="460" class="table table-bordered table-hover">

          <thead>
          <tr>
            <th data-field="id">ID</th>
            <th data-field="data.status.code">Code</th>
            <th data-field="data.status.message">Kết quả</th>
            <th data-field="created_at">Thời gian</th>
          </tr>
          </thead>
        </table>

      </div>
      <div class="card p-4 mt-3">
        {% for shake in shakes %}
          <li>
            {{ shake.id }}
            {{ shake.created_at }}
            {{ shake.data }}
          </li>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
  <script>
    var endpoint = "{% url  'viettel:user-detail' viettel_user.phone %}";
    {#var endpoint = "https://cors-anywhere.herokuapp.com/https://shake.adv.engineer/user/0355683241";#}
  </script>
  <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}
