/* ------------------------------------------------------------------------------------------------------------- RESET */

html, body, div, form, p,
code, pre {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* ------------------------------------------------------------------------------------------------------------- TEMPLATE */

body {
  font: 14px/1.333 sans-serif;
  color: #444;
  background: #eee;
}

.card {
  border-radius: 10px;
}

.input-group-prepend {

  width: 20%;
}

.input-group-text {
  min-width: 100px;
  font-size: 1.25rem;
  width: 100%;
}

.form-inline .input-group {
  width: 100%;
}

.form-control-lg {
  width: 80%;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}
